<script>
  let captchaKey = null
  const siteTitle = "<?=$siteTitle?>"
  function allowSubmit(key) {
    $('#send-message').attr('disabled', false)
    captchaKey = key
  }
</script>

<div class="modal" tabindex="-1" role="dialog" id="email-contact-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" title="Close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <p class="lead">Send an email to <strong><span id="contact-to-address"></span></strong> with:</p>
          <div><a class="btn btn-outline-primary contact-offsite-email" href="" id="google-email-link" target="_blank">Google</a>
            <a class="btn btn-outline-primary contact-offsite-email" href="" id="outlook-email-link" target="_blank">Outlook</a>
            <a class="btn btn-outline-primary contact-offsite-email" href="" id="yahoo-email-link" target="_blank">Yahoo</a>
            <a class="btn btn-outline-primary contact-offsite-email" href="" id="local-email-link" target="_blank">your email app</a></div>
        </div>
        <hr />
        <div class="alert alert-success text-center" style="display:none" id="contact-form-success">Message sent successfully. <button data-dismiss="modal" type="button" class="btn btn-outline-success btn-sm">Close</button></div>
        <div class="alert alert-danger" style="display:none" id="contact-form-error"></div>
        <form method="post" action="./contact/user/send" id="email-contact-form">
          <h4 class="text-primary text-center"><strong>Or use the contact form below:</strong></h4>
          <input type="hidden" name="to_address" value=""/>
          <div class="row">
            <div class="col-sm-6 mb-3">
              <label>Your name</label>
              <input type="text" class="form-control" name="from_name" id="contact-name" required />

            </div>
            <div class="col-sm-6 mb-3">
              <label>Your email address</label>
              <input type="text" class="form-control" name="from_address" id="contact-email" required />

            </div>
          </div>
          <div class="mb-3">
            <label>Subject</label>
            <input type="text" class="form-control" maxsize="25" name="subject" id="contact-subject" required />

          </div>
          <div class="mb-3">
            <label>Message</label>
            <small><em>(1000 character limit)</small></em>
            <textarea name="message" id="contact-message" class="form-control" style="min-height: 150px" required></textarea>
          </div>
          <div class="mb-3">
            <div class="g-recaptcha" data-sitekey="<?=$site_key?>" data-callback="allowSubmit"></div>
          </div>
          <button class="btn btn-primary btn-block" type="button" id="send-message" disabled="true">Send message</button>
          <div class="alert alert-info text-center" id="contact-sending" style="display:none"><i class="fas fa-envelope fa-spin"></i> Sending email...</div>
        </form>
      </div>
    </div>
  </div>
</div>
